{% extends 'base.html.twig' %}

{% block title %} - Impressum{% endblock %}

{% block body %}
    <div class="container my-5">
        <h1 class="display-4">Impressum</h1>

        <h2 class="h4">Angaben gemäß §5 TMG</h2>

        <p>
            Bausanierung – Inhaber: Udo Paukstadt<br>Lehnitzstraße 87<br>12623 Berlin
        </p>

        <h2 class="h4">Kontakt</h2>

        <p>
            Telefon: <a href="tel:+4903056702820">030-5670 2820</a><br>
            Mobil: <a href="tel:+4915124109385">0151-2410 9385</a><br>
            E-Mail: <a href="mailto:bausan.paukstadt@web.de">bausan.paukstadt@web.de</a>
        </p>


        <h2 class="h4">Vertreten durch</h2>

        <p>Udo Paukstadt / Jörg Paukstadt</p>

        <p>
            Eintragung im Register der Handwerkskammer zu Berlin<br>
            Betriebsnummer: 0057109
        </p>

        <h2 class="h4">Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV</h2>

        <p>
            Udo Paukstadt<br>
            Lehnitzstraße 87<br>
            12623 Berlin
        </p>

        <p>Quelle: <a href="https://www.e-recht24.de">e-recht24.de</a></p>

        <h2>Bildquellen:</h2>
        <ul class="list-unstyled">
            <li><a href="https://de.freepik.com/fotos-kostenlos/modernes-kuecheninterieur-in-hellen-farben_31023435.htm#query=trockenbau&position=36&from_view=keyword&track=sph&uuid=5fd106f6-9ebf-4a83-ac1a-eaf91400976d" target="_blank">Bild von wirestock</a> auf Freepik</li>
        </ul>
    </div>


{% endblock %}