{% extends 'base.html.twig' %}

{% block title %} - Datenschutz{% endblock %}

{% block body %}
    <div class="container my-5">
        <h1 class="display-4">Datenschutzerklärung</h1>

        <p>Gemäß den Bestimmungen der Datenschutz-Grundverordnung (DSGVO) informieren wir Sie über die Verarbeitung Ihrer personenbezogenen Daten und Ihre Rechte im Zusammenhang mit der Nutzung unserer Website.</p>

        <h2>Datenspeicherung</h2>

        <p>Wir speichern keine personenbezogenen Daten auf unserer Website. Lediglich die anonymisierte IP-Adresse und der Zeitpunkt des Besuchs werden beim Webspace-Dienstleister gespeichert.</p>

        <h2>Streitschlichtung</h2>

        <p>Bei Streitigkeiten oder Beschwerden bitten wir um Kontaktaufnahme. Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit, die Sie unter <a href="http://ec.europa.eu/consumers/odr">http://ec.europa.eu/consumers/odr</a> finden. Wir sind jedoch weder verpflichtet noch bereit, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>

        <h2>Kontakt</h2>

        <p>Bei Fragen zur Datenschutzerklärung oder Ihren persönlichen Daten können Sie uns unter <a href="tel:+493056702820">030-56702820</a> erreichen.</p>
    </div>


{% endblock %}