<div class="superNav border-bottom py-2 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 centerOnMobile">
                <a href="mailto:bausan.paukstadt@web.de" class=" d-lg-inline-block d-md-inline-block d-sm-inline-block text-muted  me-2">bausan.paukstadt@web.de</a>
                <a href="tel:+493056702820" class="text-muted"><i class="fa-solid fa-phone me-1 text-warning"></i>030-56702820</a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-none d-lg-block d-md-block-d-sm-block d-xs-none text-end">
                <span class="text-muted">Diese Website verwendet keine Cookies.</span>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-lg bg-white sticky-top navbar-light p-3 shadow-sm">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="{{ url('app_index') }}"><img src="{{ asset('img/bp_logo_wide.svg') }}" height="36" class="" alt="Bausanierung Paukstadt Logo"></a>
        <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class=" collapse navbar-collapse" id="navbarNavDropdown">
            <div class="ms-auto d-none d-lg-block">
            </div>
            <ul class="navbar-nav ms-auto ">
                <li class="nav-item">
                    <a class="nav-link mx-2 text-uppercase" href="{{ url('app_index') }}#services">Leistungen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link ms-2 text-uppercase" href="{{ url('app_index') }}#contact">Kontakt</a>
                </li>
            </ul>

        </div>
    </div>
</nav>